@use '/src/shared/scss/color';

.user-block-info-text {
    display: flex;
    flex-flow: column nowrap;
    gap: 6px;

    &__label {
        margin-bottom: 6px;
        color: color.$secondary;
        font-size: 15px;
        line-height: 20px;
    }

    &__value {
        font-size: 18px;
        line-height: 24px;
    }
}
