@use '/src/shared/scss/color';

.user-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    min-width: 1200px;

    &__block-search {
        column-gap: 8px;
    }

    &__search-input {
        width: 350px;
        max-width: 350px;
    }

    &__button {
        width: auto;
    }

    &__unblock-btn {
        color: color.$unblock;

        .anticon-stop {
            margin-right: 6px;
        }
    }

    &__unblock-btn:hover,
    &__unblock-btn:focus {
        color: white;
        background-color: color.$unblock;
    }

    &__block-btn {
        color: color.$block;
    }

    &__block-btn:hover,
    &__block-btn:focus {
        color: white;
        background-color: color.$block;
    }

    &__role-span {
        // margin-right: 10px;
        display: block;
    }

    .staff {
        font-weight: 500;
        color: color.$primary
    }
}
